*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image: url("backgym.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    border: 1px solid transparent;
    background-color: rgba(0,0,0,0.5);
}
.blog{
    display: flex;
    flex-direction: column;
}
.topbar{
    border: 1px solid transparent;
    background-color: rgba(41, 40, 40, 0.9);
}
.topwrapper{
    display: flex;
    flex-direction: row;
    color: rgba(255,255,255,0.7);
    justify-content: space-evenly;
}
.socials img{
    max-height: 2em;
    margin: 0em 0.3em 0em 0.3em;
}
.socials a{
    text-decoration: none;
    
}
a{
    text-decoration: none;
    color: rgba(255,255,255,0.7);
}
.wrapper{
    display: flex;
    flex-direction: row;
}
.sidebar{
    margin-top: 3em;
    margin-left: 2em;
    display: flex;
    justify-content: center;
    color: rgba(255,255,255,.7);
    flex-grow: 1;
}
.card{
    margin-top: 2em;
    flex-grow: 15;
    display: flex;
    justify-content: center;
}
ul{
    list-style-type:none;
}
.blogimg{
    max-width: 40em;
}
.cardwrapper{
    display:flex;
    flex-direction: column;
}
.info{
    border: 1px solid white;
    background-color: white;
    max-width: 40em;
}

@media screen and (max-width: 750px){
    .socials img{
        max-height: 1.3em;
        margin: 0em 0.3em 0em 0.3em;
    }
    .socials img{
        max-height: 1.3em;
        margin: 0em 0.3em 0em 0.3em;
    }
    .topwrapper h2{
        font-size: 1em;
    }
    .sidebar{
        font-size: 0.8em;
        margin-left: 1.3em;
    }
    .blogimg{
        max-width: 15em;
    }
    .info{
        max-width: 15em;
    }
    .info h3{
        font-size: 1.2em;
    }
    .info p{
        font-size: 0.8em;
    }
}
